@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default font size (mobile-first approach) */
html {
  font-size: 18px; /* Base size for smaller screens */
}

/* Breakpoints for scaling font sizes */
@media (min-width: 513px) {
  /* sm */
  html {
    font-size: 20px;
  }
}

@media (min-width: 1001px) {
  /* md */
  html {
    font-size: 24px;
  }
}

@media (min-width: 2025px) {
  /* md */
  html {
    font-size: 25px;
  }
}

/* globals.css */

/* remove scroll bars special css class */

.hide-bars {
  overflow-y: scroll;
  overflow-x: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

.hide-bars::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* Spinner Stylings */
.loader {
  width: 48px;
  height: 48px;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  border: 24px solid transparent;
  border-color: transparent transparent #fff #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: mvx 1s infinite ease-in;
}
.loader:before {
  left: -1px;
  top: 1px;
  border-color: #fff #fff transparent transparent;
  animation-name: mvrx;
}
@keyframes mvx {
  0%,
  25% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(-50%, 50%) rotate(180deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(180deg);
  }
}
@keyframes mvrx {
  0%,
  25% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(50%, -50%) rotate(180deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(180deg);
  }
}

/* Text wave animations */
.wave-container {
  display: flex;
  gap: 0.2rem;
}

.wave-letter {
  display: inline-block;
  animation: wave 2s infinite ease-in-out;
}

/* Add phase offsets for each letter */
.wave-letter:nth-child(1) {
  animation-delay: 0s;
}
.wave-letter:nth-child(2) {
  animation-delay: 0.1s;
}
.wave-letter:nth-child(3) {
  animation-delay: 0.2s;
}
.wave-letter:nth-child(4) {
  animation-delay: 0.3s;
}
.wave-letter:nth-child(5) {
  animation-delay: 0.4s;
}
.wave-letter:nth-child(6) {
  animation-delay: 0.5s;
}
.wave-letter:nth-child(7) {
  animation-delay: 0.6s;
}
.wave-letter:nth-child(8) {
  animation-delay: 0.7s;
}
.wave-letter:nth-child(9) {
  animation-delay: 0.8s;
}

/* Keyframes for upward wave motion */
@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
